body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.section-center {
  display: flex;
  align-items: center;
  max-width: 800px;
   
}

.gif-img {
  width: 100%;
}

.gif-info {
  width: 50%;
  padding-left: 100px;
}

.coverGif {
  max-width: 150%;
  max-height: 800px;
  height: auto;
  margin-left: -70px;
}

.title {
  font-size: 36px;
  margin-bottom: 10px;
  color: #886656;
  font-family: 'DM Serif Display', serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.giveaway {
  font-size: 23px;
  margin-bottom: 20px;
  color: rgb(56, 55, 54);
  font-family: 'DM Serif Display', serif;
}

.text {
  font-size: 17px;
  line-height: 1.5;
  color: rgb(56, 55, 54);
  font-family: 'DM Serif Display', serif;
}

.deadline {
  display: flex;
}

.deadline-format {
  text-align: center;
  margin-right: 20px;
  border: 2px solid #333;
  background-color: rgb(31, 30, 30);
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 60px;
}

.deadline-format h4 {
  font-size: 27px;
  color: rgb(172, 168, 238);
}
.deadline-format span {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}

#watchVideoButton {
  background-color: rgb(31, 30, 30);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'DM Serif Display', serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  
}
#watchVideoButton:hover {
   
    transform: rotate(360deg);
    transition: background-color 0.9s, color 0.9s, transform 0.9s;
   
}


@media screen and (max-width: 768px) {
  #watchVideoButton {
    margin-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  #watchVideoButton {
    margin-top: 30px;
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .section-center {
    flex-direction: column;
    text-align: center;
  }

  .gif-info {
    width: 100%;
    padding-left: 0;
  }

  .coverGif {
    max-width: 100%;
    margin-left: 0;
  }

  .title {
    font-size: 37px;
  }

  .giveaway {
    font-size: 25px;
  }

  .text {
    font-size: 17px;
  }
  .deadline {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .gif-img {
    width: 100%;
    margin: 0 auto;
  }

  .title {
    font-size: 18px;
  }

  .giveaway {
    font-size: 15px;
  }

  .text {
    font-size: 10px;
  }
  .deadline {
    justify-content: center;
  }
  .deadline-format {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px solid #333;
    background-color: rgb(31, 30, 30);
    color: white;
    padding: 3px;
    border-radius: 5px;
    width: 60px;
    margin: 0 10px;
  }
}
